body {
    background-color: #fafafa;
    color:#2D2D2D;
    margin:0;
	padding:0;
    transition: background-color 0.5s ease;
    font-family: 'Poppins', 'Mitr', sans-serif;
}

main {
	float: left;
	width: 100%;
	padding: 100px 0px;
}

.inner-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline;
}

.question-head h1 {
    margin-left: 6%;
}

/* button vote again */
.navigate button {
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    background-color: #ebebeb;
    color: black;
}

.arrowleft {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* sort button */
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0px 5px 0px 5px;
    vertical-align: middle;
    display: inline-block;
}

.sort-btn button {
    background-color: #ebebeb;
    position: relative;
    right: 4%;
}

/* choice */
.choice .choice-wrapper {
    margin-bottom: 30px;
    left: 6%;
    width: 90%;
    position: relative;
	transition: transform 0.5s ease;
}

.choice-wrapper {
    color: #333;
    background: #FFFFFF;
    border: none;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 1rem 30px 2rem 30px;
    margin-top: 1.5rem;
}

.result-heading .name {
    font-size: 30px;
}

.result-heading .percent {
    font-size: 25px;
    position: absolute;
    margin-top: -30px;
    right: 40px;
}

.votes-number {
    font-size: 18px;
} 

.progress-bar {
    height: 8px;
    background-color: blue;
    border-radius: 50px;
    margin-top: 20px;
}

.lasttime-vote {
    color: gray;
    float: right;
    display: inline;
    right: 20px;
}