body {
    background-color: #fafafa;
    color:#2D2D2D;
    margin:0;
	padding:0;
    transition: background-color 0.5s ease;
    font-family: 'Poppins', 'Mitr', sans-serif;
}

main {
	float: left;
	width: 100%;
	padding: 100px 0px;
}

.inner-wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* question */
.question-head h1 {
    float: left;
    width: 100%;
}

/* navigation */
.navigate input {
    position: absolute;
    right: 30%;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    background-color: #4299FE;
}

.navigate button {
    position: absolute;
    left: 20%;
    height: 50px;
    width: 50px;
    background-color: #ebebeb;
    color: black;
}

.arrowleft {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* choice */
.choice .choice-wrapper {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
	transition: transform 0.5s ease;
}

.choice-wrapper label {
    float: left;
    width: 90%;
    color: #333;
    font-size: 25px;
    background: #FFFFFF;
    border: none;
    text-decoration: none;
    text-align: left;
    font-weight: 500;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 20px 10px 20px 45px;
    position: relative;
    transition: box-shadow 0.5s ease;
    line-height: 45px;
}

.choice-wrapper label:hover {
	box-shadow: 0px 10px 44px 10px rgb(233, 235, 243);
}

/* submit */
.submit input {
    border:none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 500;
    background-color: #40DB7A;
}

/* error message */
.message {
    color: red;
}