{% extends 'vocab/base.html' %}
{% load static %}

{% block title %}Vocabulary{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'vocab/css/detail.css' %}">
{% endblock %}

{% block content %}
<h1>{{ vocab.vocab_text }}</h1>
<div class="table-container">
    <table id="temp-table">
        <tr>
            <th class="column1">Vocab</th>
            <th class="column2">Type</th>
            <th class="column3">Meaning</th>
        </tr>

        {% for vocab in vocabulary %}
        <tr>
            <td class="column1">{ vocab_text }</td>
            <td class="column2">{ vocab_type }</td>
            <td class="column3">{ vocab_mean }</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}