{% extends 'vocab/base.html' %}
{% load static %}

{% block title %}Vocabulary{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'vocab/css/index.css' %}">
{% endblock %}

{% block content %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'vocab:index' %}" data-abc="true">Vocabulary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-5 mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'vocab:index' %}" data-abc="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vocab:add' %}" data-abc="true">Add vocab</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        
        <!-- search box -->
        <div class="seach">
            <form action="{% url 'vocab:search' %}" method="get">
                <div class="input-group bg-white mb-4 border rounded-pill p-1 shadow-sm mb-4">
                    <div class="input-group">
                        <input type="search" name="search_box" placeholder="Search" aria-describedby="button-addon1" class="form-control border-0">
                        <div class="input-group-append border-0">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>  
        </div>

        <!-- if not found word after search -->
        {% if error_message %}
            <h5 class="error">{{ error_message }}</h5>
        {% endif %}

        <!-- Recently added vocab -->
        <div class="vocab-list">
            <h3>Recently added vocabulary</h3>
            <div class="row">
                {% if latest_vocab_list %}

                    {% for vocab in latest_vocab_list %}
                    <div class="col-sm-3">
                        <a href="{% url 'vocab:detail' vocab.id %}" class="item" title="{{ vocab.vocab_text }}">
                            <div class="card">
                                <div class="card-body">
                                    <h4>{{ vocab.vocab_text }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                {% else %}
                    <p>No vocab are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
